<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productListDashboard</servlet-name>
        <servlet-class>productListDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersListDashboard</servlet-name>
        <servlet-class>usersListDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductDashboard</servlet-name>
        <servlet-class>addProductDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserDashboard</servlet-name>
        <servlet-class>addUserDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainPage</servlet-name>
        <servlet-class>mainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDAO</servlet-name>
        <servlet-class>orderDAO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productListDashboard</servlet-name>
        <url-pattern>/productListDashboard</url-pattern>
        <url-pattern>/productListDashboard/new</url-pattern>
        <url-pattern>/productListDashboard/insert</url-pattern>
        <url-pattern>/productListDashboard/delete</url-pattern>
        <url-pattern>/productListDashboard/edit</url-pattern>
        <url-pattern>/productListDashboard/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersListDashboard</servlet-name>
        <url-pattern>/usersListDashboard</url-pattern>
        <url-pattern>/usersListDashboard/new</url-pattern>
        <url-pattern>/usersListDashboard/insert</url-pattern>
        <url-pattern>/usersListDashboard/delete</url-pattern>
        <url-pattern>/usersListDashboard/edit</url-pattern>
        <url-pattern>/usersListDashboard/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductDashboard</servlet-name>
        <url-pattern>/addProductDashboard</url-pattern>
    </servlet-mapping>
    <url-pattern>/usersListDashboard</url-pattern>
    <servlet-mapping>
        <servlet-name>addUserDashboard</servlet-name>
        <url-pattern>/addUserDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainPage</servlet-name>
        <url-pattern>/mainPage</url-pattern>
        <url-pattern>/mainPage/viewProfile</url-pattern>
        <url-pattern>/mainPage/viewProduct</url-pattern>
        <url-pattern>/mainPage/addToCart</url-pattern>
        <url-pattern>/mainPage/viewCart</url-pattern>
        <url-pattern>/mainPage/confirmOrder</url-pattern>
        <url-pattern>/mainPage/deleteOrder</url-pattern>
        <url-pattern>/mainPage/filterProducts</url-pattern>
        <url-pattern>/mainPage/searchProducts</url-pattern>
        <url-pattern>/mainPage/login</url-pattern>
        <url-pattern>/mainPage/signup</url-pattern>
        <url-pattern>/mainPage/logout</url-pattern>
        <url-pattern>/mainPage/signupWhenEmpty</url-pattern>
        <url-pattern>/mainPage/history</url-pattern>
        <url-pattern>/mainPage/shippingOrder</url-pattern>
        <url-pattern>/mainPage/loginWhenEmpty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDAO</servlet-name>
        <url-pattern>/orderDAO</url-pattern>
    </servlet-mapping>
</web-app>
